&nbsp;

“I mean it, I take my privacy very, very seriously,” Mark said, as we pulled into a parking space at the restaurant.  “I’ve got trust issues.”

“Totally, man. I would too," I said.

We got out and walked into the restaurant. At the entrance, beside the greeter, was standing Officer Romero.

“Pete!” he bellowed. “There you are! Is this the ‘empath’?”

Mark looked stricken. He turned on me with a baleful glare.

“It’s not my fault!” I sputter-whispered. “I have no idea how they sent a cop!”

Would this blow the housemate deal? He scrutinized my face for a long moment. Then he sighed, apparently satisfied.

“Wow! Did you just vibe that I was telling the truth?” I whispered. “WHOA! That’s crazy! Except…” I hesitated. “I can see where it might be tricky being your friend.”

“You have no idea."

Romero strode toward us, flashing his patented Manly Man Grin of Uber-Confidence. That’s got to be an entire course at Police Academy, and Romero could teach it. 

He wore full cop regalia, and as always I felt like his tool vest must
have gained some new Implement of Lawful Kickass since I’d last seen
him. I can’t figure it out, so many cops have this _presence_ like
they’re a partial incursion of some other dimension of violence and
mayhem. But maybe it’s just that they walk around us unarmed civilians
hauling enough hardware to take Iwo Jima solo.

“Good to see you, Pete,” he boomed, crushing my hand in a “handshake”.
“Ceci said you two would be here, and I was close by and could use a
bite myself. More convenient than bringing you in to the station,
yeah?”

I promised myself that if I ever got within ten favors or so of Ceci owing _me_, this would cost her.

“And you are?” Romero probed Mark.

“Mark Falcon.”

“You don’t mind if I join you, do I?” 

Mark gave him a tight smile. “Sure thing.”

“Great!” Romero turned and led us toward a booth. 

I twinged. My favorite booth at GORP’s is on the other side, you can see a whole ridge of lovely mountains looming maternally over a strip mall. But Romero plopped down into a cruddy booth with a ‘view’ of the deserted Taco Bell.

“I can’t stay too long,” Mark said, as he slid in beside me. “I do have to get to back to work.”

“On a Saturday?” Romero said with sharp interest. He had that edgy
friendliness so many cops cultivate, that practiced simulation of
small talk where they’re trying so hard to pretend they’re not
thirsting to pounce and haul you away. Sometimes I wonder if he’s like
that with his girlfrend. _How was your day? Oh, really? Why would you
say, ‘tiring’? No, no, just an interesting word choice, I don’t
suppose you got all tired out ROBBING THAT BANK IN FAIRFAX?!?_

Mark played along. “I’m a freelancer,” he said, with a professional rueful grin. “Clients don’t always grasp the concept of a weekend.”

“I hear that!” said Romero. “So you work at home?”

“Yes.”

“And where’s that?”

“Just outside town.”

Romero smiled. “I mean the address.”

Mark’s smile tightened. 

Then he winced and grunted in pain. He hunched forward and hissed an indrawn breath. “Damn,” he muttered. “Been awhile since I did a restaurant.”

“You okay?” said Romero.

“It’s fine, just a backache.”

“Me too!” said our waiter, who had somehow materialized at our table. He was a Beard Guy, carefully gelled, with a potbelly that couldn’t be helping his back issues. “My back’s been killing me all morning.”

“Sorry to hear it,” Mark grunted, through clenched teeth.

“Whoa,” I whispered. Goosebumps chilled my arms — I’m not going to lie, this was getting creepy. Creepy and _awesome_.

&nbsp;

**_From BOOK 1: FLY AWAY HOME, by W. T. Powell. Coming April 2017!_**

**Read the WHOLE BOOK for FREE if you SIGN UP as a beta reader before March 31, 2017 -- see below!** 
