{{ "<!-- Signup Section -->" | safeHTML }}
<section class="success" id="success">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{ with .Site.Params.signup.title }}{{.}}{{ end }}</h2>
                <hr class="star-light">

		<script async id="_ck_162088" src="https://forms.convertkit.com/162088?v=6"></script>

		<p><em>My beta readers are the <strong>best</strong>. Welcome.</em></p>
	    </div>
        </div>
    </div>
</section>
